/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}


h1 {
  color: #ff9600;
}

.page-header {
    border-bottom-color: #b3d4fc;
}

.alert-info{
    background-color: #ffdfb1;
    /*color: #d3d3d3;*/
    color: #000;
    border-color: #ff9600;
}


.error{
    margin-left:3%;
    color:red;

}