<div ng-controller="View1Ctrl as vc">

    <div class="alert alert-info"> Enter a place in the box below to search a forecast or the current weather</div>
    <div class="well">
        <input type="text" ng-model="vc.city" name="text" placeholder="Enter City..."/> &nbsp;
        <label class="radio-inline"><input type="radio" ng-model="vc.dayOrFive" value="1"> Today </label>
        <label class="radio-inline"><input type="radio" ng-model="vc.dayOrFive" value="5">5 Day forecast </label>
        <br/><br/>
        <button ng-click="vc.selectType()" class="btn btn-default">Rain Dance!</button>
        <span ng-if="vc.errors" class="error">
            {{vc.errors}}
        </span>
    </div>
    <br/><br/>
    <table ng-if="vc.weathers" class="table table-striped">
        <tr>
            <th>Location</th>
            <th>Wind Speed</th>
            <th>Temperature</th>
            <th>Sunrise</th>
            <th>Sunset</th>
            <!--<th><img src="" /></th>-->
            <!--<th><img src="./sunset.png" /></th>-->
        </tr>
        <tr>
            <td>{{ vc.weathers.name }}</td>
            <td>{{ vc.weathers.wind.speed }}</td>
            <td>{{ vc.weathers.main.temp}}</td>
            <td>{{ vc.weathers.sys.sunrise }}</td>
            <td>{{ vc.weathers.sys.sunset }}</td>
        </tr>
    </table>


    <!--<table ng-if="vc.forecast" class="table table-striped">-->
        <!--{{vc.forecast.city.name}}-->
        <!--<tr>-->
            <!--<th>Date</th>-->
            <!--<th>Description</th>-->
            <!--<th>Temp</th>-->
        <!--</tr>-->
        <!--<tr ng-repeat="date in vc.forecast.list">-->
            <!--<td>{{ date.dt_txt }}</td>-->
            <!--<td>{{ date.weather[0].description }}</td>-->
            <!--<td>{{ date.main.temp }}</td>-->

        <!--</tr>-->

    <!--</table>-->

    <br/>

    <div style="position:relative" us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></div>


    <!--return test data for now-->
    <table class="table table-striped" ng-if="vc.fiveDayForecast" ng-repeat="date in vc.fiveDayForecast">
        <tr>
            <td rowspan="8" width="15%">{{date.day}}</td>
        </tr>

        <tr>
            <td ng-repeat="time in date.forecast">
                {{time.time}}
            </td>
        </tr>
        <tr>
            <td ng-repeat="time in date.forecast">
                {{time.desc}}
            </td>
        </tr>
        <tr>
            <td ng-repeat="time in date.forecast">
                {{time.wind}} mph
            </td>
        </tr>
        <tr>
            <td ng-repeat="time in date.forecast">
                {{time.temp}} C
            </td>
        </tr>
    </table>

</div>


<!--

date | time1 | time2 | time3 | time 4
     | desc  | desc  | desc  | desc
     | temp  | temp  | temp  | temp


-->